// html, body {
//   margin: 0;
//   padding: 0;
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
//   font-family: Tahoma, Geneva, sans-serif;
//   font-size: 15px;
//   background-color: #000000;
//   background: #000;
// }

// h2 {
//   color: #FFFFFF;
// }

// .canvas {
//   position: fixed;
//   background: transparent;
//   color: #FFFFFF;
//   top: 0;
//   left: 0;
//   display: block;
//   visibility: visible;
//   z-index: 1;
//   pointer-events: none;
//   width: 100vw;
//   height: 100vh;
// }

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 1;
  pointer-events: none;
}