body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-container {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #FF9540;
}

.home-header,
.home-footer {
  padding: 1rem;
  background: #FF9540;
  color: #fff;
  text-align: center;
}

.home-header {
  min-height: 60px;
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  background: #FF9540;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;  
  justify-content: center;
  box-sizing: border-box;
}

.home-footer {
  border-top: 0.5px solid #fff;
}

.home-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-left-link-container {
  position: absolute;
  top: 32px;
  left: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
}

.about-circle-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #fff;
  color: #FF9540;
  border-radius: 50%;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #FF9540;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: background 0.2s, color 0.2s;
  padding: 0;
  margin: 0;  
}

.circle-link:hover {
  background: #FF9540;
  color: #fff;
  border: 2px solid #fff;
}

.audio-play-btn svg {
  color: #FF9540;
  transition: color 0.2s;
}

.audio-play-btn:hover svg {
  color: #fff;
}